{{ extends 'base.html.twig' }}

{% block body %}
<h1>la page n'exsite pas</h1>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ path('task_list') }}
        {% else %}
         {{ path('login') }}
    {% endif %}

{% endblock %}
