{{ extends 'base.html.twig' }}

{% block body %}
<h1>la page n'exsite pas</h1>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <button type="button" href="{{ path('task_list') }}">Liste des tâches</button>
        {% else %}
            <button type="button" href="{{ path('login') }}">Connexion</button>
    {% endif %}
{% endblock %}
